.trigger {
  padding: 0px 20px;
  cursor: pointer;
  font-size: 15px;
  line-height: 55px;
  transition: color 0.5s;
}

.trigger:hover {
  color: rgb(60, 70, 91);
}

.header-background {
  background: #fff;
}
.header-layout {
  display: flex;
  /* padding: 5px auto; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  width: 150px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: flex-end;
}

.popup-button {
  width: 120px;
  border-radius: 10px;
  align-items: center;
}

.icon {
  width: 100px;
}
